
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
}

#main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    display: flex;
    height: 60px;
    padding: 6px;
    justify-content: flex-end;
    align-items: center;
}

#nav-wrapper-1 {
    display: flex;
    padding-right: 15px;
}

.nav {
    padding-left: 15px;
    font: 13px/27px Roboto,Arial,sans-serif;
    text-decoration: none;
    color: rgba(0,0,0,87);

    &:hover {
        text-decoration: underline;
    }
}

#nav-wrapper-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

#google-products {
    display: flex;
    padding: 8px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: lightgray;
        border-radius: 100%;
    }
}

.google-product-image {
    width: 24px;
    height: 24px;
    color: #5f6368;
    opacity: 1;
    fill: currentColor;
}

#sign-button {
    align-content: center;
    background-color: #1a73e8;
    color: #fff;
    border: 1px solid transparent;
    padding: 9px 15px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 4px;
    min-width: 80px;
    text-align: center;
}

.text-button {
    color: #fff;
    font-family: Google Sans,Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: 16px;
}

.text-dec-none {
    text-decoration: none;
}

#google-logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 560px);
    max-height: 290px;
}

#google-logo {
    position: relative;
    height: 92px;
    margin-top: auto;
}

#main-logo {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
    height: 92px;
    aspect-ratio: auto 272 / 92;
}

#container-2 {
    padding: 20px;
    max-height: 160px;
}

#dialog-1 {
    background-color: transparent;
    border: none;
}

#wrapper-3 {
    background: #fff;
    height: 100%;
    opacity: 0;
    left: 0;
    overflow: hidden;
    text-align: left;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 10000;
    transition: visibility 0s linear 0.218s, background-color 0.128s;
}

#search-engine-wrapper {
    position: relative;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
    padding-top: 6px;
}

#text-wrapper {
    position: relative;
    display: flex;
    z-index: 3;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    box-shadow: none;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
}

#text-wrapper-2 {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
}

#icon-wrapper {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
    height: 46px;
}

#icon-wrapper-2 {
    margin: auto;
}

#icon-wrapper-3 {
    height: 20px;
    line-height: 20px;
    width: 20px;
}

#svg {
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #9aa0a6;
    fill: currentColor;
}

#text-field-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6px;
    flex: 1;
}

#text-field-wrapper-2 {
    color: transparent;
    white-space: pre;
    position: absolute;
    pointer-events: none;
}

#text-area {
    font-family: arial, sans-serif;
    font-size: 16px;
    flex: 100%;
    line-height: 10px;
    margin-bottom: 8px;
    overflow: hidden;
    resize: none;
    background-color: transparent;
    border: none;
    padding: 0;
    color: rgba(0, 0, 0, 87);
    display: flex;
    outline: none;
    word-wrap: break-word;
}

#icon-2-wrapper {
    display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: stretch;
    flex-direction: row;
    height: 44px;
}

#ic-2-w-2 {
    padding: 4px;
}

#ic-2-w-3 {
    background-color: transparent;
    border: 0;
    flex: 1 0 auto;
    cursor: pointer;
    display: none;
    height: 100%;
    line-height: 44px;
    outline: none;
    padding: 0 12px;
}

#sp-1 {
    height: 100%;
    color: #70757a;
    vertical-align: middle;
    outline: none;
}

#svg-2 {
    display: block;
    height: 100%;
    width: 100%;
}

.mic-image-wrapper {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    padding: 0 8px;
    outline: none;
    width: 40px;
    line-height: 44px;
}

.svg {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

#search-engine-bottom-wrapper {
    height: 70px;
    padding-top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    font-size: 14px;
    border-radius: 4px;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-decoration: none;
    cursor: pointer;

    a {
        text-decoration: none;
        color: #3c4043;
    }

    &:hover {
        box-shadow: rgba(0, 0, 0, .4) 0 1px 4px;
    }
}

#lang-wrapper {
    height: 291px;
    text-align: center;
}

#lang-items {
    color: #4d5156;
    display: block;
    line-height: 28px;
    margin-bottom: 24px;

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

footer {
    background-color: #f2f2f2;
}

#footer-top {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #202124;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#footer-wrapper {
    padding: 0 20px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.footer-items {
    line-height: 46px;
    color: #202124;

    a {
        padding: 15px;

    }
}

@media only screen and (max-width: 1200px){
    #footer-wrapper {
        justify-content: space-evenly;
    }
}


